.header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(8, 184, 166);
    border-radius: 25px;
    padding: 15px 20px;
    margin-right: 45px;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 3rem;
    margin-left: 45px;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
}

.header-menu > li {
    cursor: pointer;
}

.header-menu > li:hover {
    cursor: pointer;
    color: rgb(8, 184, 166);
}

